body {
  height: 100%;
  overflow: hidden;
  width: 100% !important;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: left;
}

.backLeft {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url("/assets/images/logo.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #cccccc;
}

#back {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999;
}

#slideBox {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.topLayer {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%;
}




.right {
  width: 50%;
  height: 100%;
  background: #f9f9f9;
  right: 0;
  position: absolute;
  min-width: 320px;
}

.content {
  top: 20px;
  position: absolute;
  left: 50%;
  margin-left: -125px;
  width: 320px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right:40px;
  box-sizing: border-box;
}

.content h2 {
  color: #03A9F4;
  font-weight: 300;
  font-size: 35px;
  color: #e91e63;
}

.btn {
  background: #6c757d;
  padding: 10px 16px;
  width: 240px;
  font-weight: 600;
  text-transform:  uppercase;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  letter-spacing: 0.5px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  border: 0;
  outline: 0;
  margin: 15px 15px 15px 0;
  transition: all 0.25s;
}

.btn:hover {
  background: #343a40;
  box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}
.off {
  background: none;
  color: #03A9F4;
  box-shadow: none;
}

.right .off:hover {
  background: #eee;
  color: #03A9F4;
  box-shadow: none;
}
.left .off:hover {
  box-shadow: none;
  color: #03A9F4;
  background: #363A3D;
}
input {
  display: block;
  width: 240px;
  height: 36.5px;
  line-height: 1.6;
  border-radius: 5px;
  outline: 0;
  font-size: 14px;
  padding: 8px 0;
  margin: 0;
  width: 200px;
  border: 1px solid #ced4da;
  background-clip: padding-box;
  overflow: visible;
  font-family: inherit;
  box-sizing: border-box;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  box-sizing: border-box;
  font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
  line-height: 1.5;
  font-size: 14px;
  color: #72777a;
  letter-spacing: .2px;
}